* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;

}
.fixd-width {
    width: 1200px;
    margin: auto !important;
}
.text-end {
    text-align: right;
}
.text-strat {
    text-align: left;
}
.text-center {
    text-align: center;
}
.clear-fix::after {
    content: "";
    display: block;
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}
/* ****HEADER PRAT STRAT*****/
.header {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 99;
}
.logo-part {
    width: 30%;
}
.logo-part img {
    width: 41px;
}
.logo-part span {
    display: inline-block;
    position: relative;
    bottom: 13px;
    font-weight: 600;
    font-size: 25px;
    margin-left: 5px;
    color: rgb(0, 0, 0);
}
.menu-part {
    width: 60%;
}
.menu-part ul li {
    display: inline-block;
}
.menu-part ul li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    font-size: 19px;
    color: rgb(0, 0, 0);
}
.menu-part ul li a:hover {
    color: rgb(98, 120, 223);
}
.header-btn {
    width: 9%;
    display: inline-block;
}
.header-btn a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    font-size: 19px;
    color: rgb(98, 120, 223);
    border: 1px solid rgb(98, 120, 223);
    margin-top: 4px;
    border-radius: 5px;
    font-weight: 600;
    transition: all 0.5s ease 0s;
    width: 105px;
    text-align: center;
}
.header-btn a:hover {
    background-color: rgb(98, 120, 223);
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.467) 0px 1px 8px;
}
.menu-part ul li {
    position: relative;
}
.menu-part ul li ul {
    position: absolute;
    left: 0px;
    top: 100%;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
    padding: 10px;
}
.menu-part ul li ul li {
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: rgb(221, 221, 221);
}
.menu-part ul li ul li {
    display: block;
}
.menu-part ul li ul li:hover a {
    color: rgba(98, 121, 223, 0.79);
    display: block;
}
.menu-part ul li:hover ul {
    opacity: 1;
    visibility: visible;
}
/* ****HEADER PRAT END******/
.banner {
    text-align: center;
    background: url("https://i.ibb.co/c8pTjhH/picture1.jpg") center center / cover no-repeat;
    padding: 220px;
    position: relative;
    z-index: 1;
    margin-top: 64px;
}
.banner::after {
    content: "";
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}
.banner h2 {
    color: rgb(255, 255, 255);
    margin: 20px;
    font-size: 25px;
}
.banner h1 {
    color: rgb(255, 255, 255);
    margin: 20px;
    font-size: 60px;
}
.defult {
    font-size: 21px;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    width: 150px;
    margin-right: 27px;
    border-radius: 10px;
    color: rgb(125, 125, 125);
    transition: all 0.4s ease 0s;
  
}
.defult:hover {
    background-color: rgb(98, 120, 223);
    color: rgb(255, 255, 255);

}

/* *** frist banner prat end*** */
.banner-footer {
    padding: 90px 0px;
    background-color: rgb(247, 249, 255);
}
.left-content {
    width: 48%;
    margin-right: 3%;
}
.right-content {
    width: 48%;
}
.right-content h1 {
    font-size: 41px;
}
.right-content p {
    margin-top: 70px;
    font-size: 23px;
    color: rgb(147, 128, 136);
}
.service-section {
    padding: 30px 0px;
}
.service-title h1 {
    font-size: 43px;
    font-weight: 400;
}
.service-title h3 {
    color: rgb(166, 159, 140);
    font-size: 22px;
    margin-top: 36px;
    margin-bottom: 47px;
}
.service-items {
    margin-top: 90px;
}
.service-box {
    width: 30.3%;
    margin-right: 2%;
    box-shadow: rgb(221, 221, 221) 2px 2px 4px 0px;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.service-icon span {
    width: 60px;
    display: inline-block;
    float: left;
    height: 100px;
    font-size: 38px;
    color: rgb(98, 120, 223);
}
.service-container h3 {
    font-size: 27px;
}
.service-container p {
    font-size: 20px;
    color: rgb(175, 177, 184);
}
/* ****PRIZE SECTION STE */
.prize-section {
    background-color: rgb(247, 249, 255);
    padding: 20px 0px;
    color: #a6a29e;
}

.prize-box {
    width: 31.3%;
    background-color: rgb(255, 255, 255);
    margin-right: 2%;
    box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 20%);
}
.prize-box:nth-child(3){
    margin-right: 0;
}
.p-header {
    padding: 22px 0px;
    border-bottom: 1px solid #ddd;
    transition: .4s;
}
.p-header h3 {
    font-size: 25px;
    margin-left: 26px;
    font-weight: 400;
    margin-bottom: 20px;
}
.p-header h1 {
    margin-left: 26px;
    font-size: 40px;
    font-weight: 900;
}
.p-header span {
    font-size: 21px;
    font-weight: 400;
}
.p-header h5 {
    margin-left: 26px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}
.p-header p {
    margin-left: 26px;
    font-size: 21px;
    color: rgb(118, 118, 118);
    margin-top: 27px;
}
.p-content {
    padding: 39px 0;
    margin-left: 26px;
}

.p-content ul li {
    list-style: none;
    font-size: 21px;
    color: #767676;
    font-weight: 300;
    margin: 28px 0;
}
.p-content ul li span {
    width: 35px;
    display: inline-block;
    color: #6278df;
    font-size: 27px;
}
.p-button {
}
.p-button a {
    box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 20%);
    margin-bottom: 32px;
    width: 172px;
    transition: .4s;
}
.prize-box:hover .p-header{
    background-color: #6278df;
    color: #fff;
}
.prize-box:hover .p-button a{
    background-color:#6278df ;
    color: #fff;
}
/* *****PRIZE SECTONT END**** */
/* ***TEM STRAT**** */
.team {
    padding: 60px 0;

}
.service-title h1 {
    font-size: 41px;
    font-weight: 400;
    margin: 60px 0;
}

.meamber{
    width: 23.5%;
    margin-right: 2%;
    box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 20%);
    
}
.meamber:nth-child(4){
    margin-right: 0;
}
.meamber-img {padding: 30px 0;border-radius: 10px;
    position: relative;
    bottom: 29px;
  
}
.meamber-img img{width: 100%;border-radius: 10px 10px 0px 0;
   
}

.meamber-bio h4{
    font-size: 23px;
    font-weight: 400;
    margin: 10px 0;
}
.meamber-bio p {
    margin-bottom: 21px;
    color: #c5bac5;
}
/* ***TEM END**** */
/* ****NEWS PART STRAT */

.new-section{
    padding: 42px 0;
    background: #f7f9ff;
}

 .deafult{
    padding: 18px;
    width: 250px;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid #ddd;
    border-radius: 10px;
}
 .deafult:focus{
     outline: none;
    border: 1px solid #6278df;
    box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 20%);
}
.btn {
    display: inline-block;
    padding: 15px;
    width: 190px;
    position: relative;
    bottom: 2px;
    margin-left: 18px;
    font-size: 20px;
    border-radius: 6px;
    background: #6278df;
    color: #fff;
    font-weight: 400;
    transition: .5s;
    border: none;

}
.btn:focus{
    outline: none;
}
.btn:hover{
    background-color: #fff;
    color:#6278df;
    border: 2px solid #6278df ;
    box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 20%);

}
/* ****NEWS PART END */
/* ****BLOG SECTION STRA */
.blog{
    padding: 95px 0;
    background-color: #ffffff;
}
.b-header{}
.b-titile{
    width: 48%;
    font-size: 24px;
    font-weight: 200;
}

.b-titile-content{
    width: 50%;
    color: #767676;
    font-size: 17px;
    margin-bottom: 48px;
   
    
}
.b-titile h2{
    font-weight: 400;
    margin-bottom: 34px;
}
.b-titile p{}
.b-content{

}
.b-img{
    width: 48%;
    box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 20%);
    margin-right: 2%;
}
.b-img img{max-width: 100%;width: 249px;}
.b-img-content{
    width: 48%;
    margin-left: 278px;
    position: relative;
    bottom: 141px;
}
.b-img-content h4{
    font-size: 27px;
    font-weight: 400;
}
.b-img-content p{
    margin-top: 10px;
    color: #767676;
    font-size: 17px;
}

/* ****BLOG SECTION END */
/* *****TESTIMONIAL PART STRAT*** */
.testimonil {
    background-color: rgb(194 196 203 / 64%);
    margin-top: 241px;
    padding: 25px 0px;
}
.testimonials{
    width: 33%;
}
.tes-title{
    padding: 10px 0;
}
.tes-header{color: #767676;padding: 32px 0;background-color: #ffffff;font-size: 20px;line-height: 33px;margin-right: 8%;padding: 45px 0;margin-bottom: 37px;
position: relative;
}
.tes-header p{
    margin-left: 10px;
}
.tes-header::after {
    content: "";
    position: absolute;
    bottom: -18px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #fff transparent transparent transparent;
}
.tes-img{}
.tes-img img{
    border-radius: 50%;
    width: 80px;
    float: left;
    margin-right: 28px;
}
.tes-img-container{
    line-height: 4px;
    font-size: 20px;
    font-weight: 100;
}
.tes-img-container h4{
    line-height: 63px;
    font-weight: 400;
}

.tes-img-container p{font-weight: 200;}
.tes-header p::before {
    content: "\f10d";
    font-family: FontAwesome;
    font-size: 60px;
    /* color: #f0f0f0; */
    position: absolute;
    opacity: 0.2;
    top: 40px;
    left: 14px;
}
/* *****TESTIMONIAL PART END*** */
/* ***FOOTER AND FORM PART STRAT*** */
.footer-from{
    padding: 20px 0;
}
.form-map{ 
    width: 48%;
}
.form-contact{
    width: 48%;
}
.contact-header h4{
    font-size: 27px;
    font-weight: 400;
    margin: 15px 0;
}
.contact-header p{
    margin: 21px 0;
    font-size: 20px;
    color: #767676;
}
.contact-header-form input{
    margin-bottom: 10px;
}
.contact-header-form textarea{
    margin-bottom: 19px;
}
.contact-header-form .w-100{
    width: 100%;
}
.contact-header-form .massege {
    height: 93px;
}
.contact-header-form .btn{
    width: 600px;
    margin-left: 0;
}
.footer {
    padding: 20px 0;
    margin-top: 20px;
    font-size: 20px;
}
/* ***FOOTER AND FORM PART END*** */

